.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
  background-color: #0e7886;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.page-logo {
  width: 200px;
}

.infos {
	position: absolute;
	right: 34%;
	top: 398px;
	width: 410px;
	font-size: 16px;
}

.campo {
	height:19px;
}

.nota {
	width: 55px;
}

.nfinal {
	font-size: 35px;
	height: 37px;
	width: 50px;
	border: 2px solid black;
	position: absolute;
	top: 116px;
	right: 141px
}