.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
  background-color: #0e7886;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.page-logo {
  width: 200px;
}

.infos {
	position: absolute;
	right: 35%;
	top: 392px;
	width: 410px;
	font-size: 16px;
}

.campo {
	height:19px;
}

.nota1, .nota2, .nota3, .nota4 {
	width: 55px;
}

.nfinal {
	font-size: 28px;
	height: auto;
	width: auto;
	position: absolute;
	top: 101px;
	/* right: 50px; */
	background-color: #fada06;
}

button {
	background-color: #20d0c2;
	position: absolute; 
	/* Mudar conforme a tela.*/
	left: 197px;
	top: 107px;
	transition: 1s;
	cursor: pointer;
}

button:hover {
	background: #051d3b;
	color: white;
	/* transform: scale(1); */
}

/* Pra fazer 'media query', usamos
[@media], colocamos o tipo de tela que
estamos buscando, geralmente o valor [screen],
adicionamos [and] e colocamos a pesquisa entre parênteses. */
@media screen and (max-width: 480px) {
	.infos {
		right: -6%;
		top: 474px;
		font-size: 22px;
	}

	.nfinal {
		width: 329px;
		right: 9%;
		top: 107px;
	}
}